<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="ConcreteRepositories" type="System.Configuration.NameValueSectionHandler" />
	</configSections>

	<appSettings>
		<!--Clave para tal cosa...-->
		<add key="FileLogPath" value="/Logs/"/>
		<add key="FileErrorLogName" value="Errors.log"/>
		<add key="FileWarningLogName" value="Errors.log"/>
		<add key="FileInfoLogName" value="Info.log"/>
		<add key="BackendType" value="1"/>
		<add key="LanguagePath" value="I18n/language."/>
		<add key="LogLevel" value="2"/>
	</appSettings>

	<ConcreteRepositories>
		<add key="UserRepository" value="UserDao"/>
		<add key="LoggerRepository" value="LoggerDao"/>
	</ConcreteRepositories>

	<connectionStrings>
		<add name="MainConString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=DemoPP;User ID=demopp;Password=1234;Encrypt=False"/>
		<add name="ServicesSqlConnection" connectionString="Data Source=MTZNB-0065;Initial Catalog=Test;Integrated Security=True;TrustServerCertificate=True"/>
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>